.pageContainer{
  padding: 5rem;

}

.settings{
  padding-top: 1.5rem;
}

.settingsInnerContainer{
  padding-left: 2rem;
  padding-top: 2.9rem;
  font-size: 1.2rem;
  width: 100%;
}

.input{
  display: block !important;
}

.settingsMainHeading{
  font-size: 2.5rem;
  font-weight: 600;
}

.settingsSubmit{
  float: right;
  margin-top: 1rem;
}

.settingHeading{
  border-bottom: 1px solid rgba(101, 101, 101, 0.39);
  font-size: 1.5rem;
  font-weight: 600;
}

