$text-color-secondary: #ffae2a;
$primary-color: #ff4036;
$dark-color: rgba(16, 16, 16, 0.94);
$light-color: rgba(255, 255, 255, 0.93);
$tot: #ff4d44;


@-webkit-keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
.slide-in-fwd-center{-webkit-animation:slide-in-fwd-center 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-fwd-center .7s cubic-bezier(.25,.46,.45,.94) both}


.slide-out-bck-center{-webkit-animation:slide-out-bck-center .5s cubic-bezier(.55,.085,.68,.53) both;animation:slide-out-bck-center .5s cubic-bezier(.55,.085,.68,.53) both}
@-webkit-keyframes slide-out-bck-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}100%{-webkit-transform:translateZ(-1100px);transform:translateZ(-1100px);opacity:0}}@keyframes slide-out-bck-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}100%{-webkit-transform:translateZ(-1100px);transform:translateZ(-1100px);opacity:0}}






*{
  font-family: 'Open Sans', sans-serif !important;
}


img{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a{
  color: #4e58fa;
}

.reduced-spacing{
  letter-spacing: -.5px;
}

.color-warning{
  color: rgb(250, 173, 20);
}


.light-sky-blue{
  color: #4e58fa;
}

.line-height{
  line-height: .15em;
}

.mt-6{
  margin-top: 5.9rem;
}

.mb-5{
  margin-bottom: 5.5rem;
}

.display-1{
  font-size: 4.6rem;
}

.display-2{
  font-size: 3.7rem;
}

.display-3{
  font-size: 2.5rem;
}

.display-4{
   font-size: 1.7rem;
 }

.display-5{
  font-size: 1.4rem;
}

.display-6{
  font-size: 1.15rem;
}


.mr-auto{
  margin-right: auto !important;
}

.d-inline{
  display: inline;
}

.position-absolute{
  position: absolute;
}

.display-none{
  display: none;
}

.text-link{
  font-weight: 600;
  cursor: pointer;
}

.bgTest{
  background-color: red !important;
}

.borderTest{
  border: 1px solid #828282 !important;
}

.text-info{
  color: $text-color-secondary !important;
}

.p-6{
  padding: 6rem;
}

.text-smaller{
  font-size: .9em;
}

.small-text{
  font-size: .75rem;
  line-height: .85rem;
}

.position-relative{
  position: relative;
}

.text-smaller{
  font-size: .9rem
}
